/* General styles */
body {
  background: #ebebeb url(/images/bg-top.png) right top no-repeat; 
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:10pt;
	font-family: arial, helvetica, sans-serif;
}

a {
	color:#369;
}

a:hover {
	color:#000;
	text-decoration:none;
}

h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
  color: #315878;
}

p {
	margin:.4em 0 .8em 0;
	padding:0;
}

img {
	margin:10px 0 5px;
}

.button-standard{
  width:6em;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	height:86px;
}

#logo {
	margin-top: 18px;
	margin-left: 18px;
}

#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}

#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}

/* common column settings */
.colleft {
  clear:both;
  float:left;
	width:100%;
	position:relative;
}

.maincontainer,
#menucontainer
{
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}

.leftmenu .colleft {
	right:77%;			/* right column width */
}

.leftmenu .maincontainer {
	width:75%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}

.leftmenu #menucontainer {
	width:23%;			/* was 21% left column content width (column width minus left and right padding) */
	left:2%;			/* (right column left and right padding) plus (left column left padding) */
}


/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:0px solid #000;
	text-align:right;
	font-size: 8pt;
}

#footer p {
	padding-right:10px;
	margin:0;
}


#footer a {
    color: #555555;
	text-decoration: none;
}


#menucontainer h2 {
	margin-left: 20px;
}

#navcontainer {
	margin-left: -20px;
}

#navcontainer ul {
    list-style-type: none;
    text-align: left;
}



#navcontainer ul li a {
    background: transparent url(/images/list-off.gif) 0px .5em no-repeat;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    color: #315878;
}

#navcontainer li.groupheader {
    background: transparent url(/images/list-off.gif) 0px .5em no-repeat;
    padding-left: 10px;
    color: #315878;
}

#navcontainer ul li a:hover {
    background: transparent url(/images/list-on.gif) 0px .5em no-repeat;
    color: black;
}

#navcontainer ul li a#current {
    background: transparent url(/images/list-active.gif) 0px .5em no-repeat;
    color: #000;
}

table.rdbtable { 
    font-family: arial, helvetica, sans-serif;
    width: 580px;
    background-color: white;
    border: 1px #000000 solid;
    border-collapse: collapse;
    border-spacing: 0px; 
    font-size: 10px;
    opacity:0.8;
}

table.rdbtable td { 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1em;
    padding-right: 1em; 
}

tr.rdbhead {
    background-color: #555;
    border: 1px #000000 solid;
    font-weight: bold;
    color: #FFFFFF; 
}

tr.rdbhead td.ValueCol {
    text-align: center;
}

tr.rdbgrp td { 
    border-bottom: 1px #6699CC dotted;
    text-align: left;
    color: #FFFFFF;
    background-color: #009b30;
}

tr.rdbval td { 
    border-bottom: 1px #6699CC dotted;
    text-align: left;
    color: #101010;
}

td.rdbgrp { 
}

td.rdbval { 
}

tr.rdbgrp td.numeric { 
    text-align: right;
}

tr.rdbval td.numeric { 
    text-align: right;
}

iframe.hiddenframe {
	width: 1px;
	height: 1px;
	border: 0px;
	visibility: hidden;
}

table.usertable { 
    font-family: arial, helvetica, sans-serif;
    border: 0px #000000 solid;
    border-collapse: collapse;
}

table.usertable td { 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1em;
    padding-right: 1em;
}

table.almtable { 
    font-family: arial, helvetica, sans-serif;
    width: 580px;
    background-color: white;
    border: 1px #000000 solid;
    border-collapse: collapse;
    border-spacing: 0px; 
    font-size: 10px;
    opacity:0.8;
}

table.almtable td { 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1em;
    padding-right: 1em; 
}

tr.almhead {
    background-color: #555;
    border: 1px #000000 solid;
    font-weight: bold;
    color: #FFFFFF; 
}

tr.almdata td { 
    border-bottom: 1px #6699CC dotted;
    text-align: left;
    color: #101010;
}

table.almtable tr.Critical td { 
    color: #FF0000;
}

table.almtable td.almno { 
    text-align: right;
}
